body {
  margin: 0;
  font-family: 'GilroyMedium', 'GilroyBold';
  /* background: transparent url('./img/1.jpg')  no-repeat center 60% ; */
  /* color: #fff; */
}

li {
  list-style-type: none;
}

.header__logo-img {
  background: transparent url('./img/2.jpg') no-repeat center 38%;
  object-fit: cover;
  width: 960px;
  height: 300px;
}

.skilimg1 {
  object-fit: cover;
  width: 352px;
  height: 200px;
  border-radius: 5px;
}
.comment-wrapper {
  /* display: flex; */
  /* flex-wrap: wrap; */
  justify-content: space-between;
}
